.texto-simples {
    color: aquamarine;
}
#texto-complexo {
    color: rgb(255, 0, 0);
}
.texto-translucido {
    color: rgba(255, 0, 0, 0.5);
}

.back-simples{
    background-color: #0000ff;
}
.back-translucido {
    background-color: rgba(0,255,0,0.3 );
}
.back-image-unica{
    background-image: url('/pages/imagens/css.png');
    background-repeat: no-repeat;
}
.posicao-especifica{
    /* background-position: bottom right; */
    background-position: center;
    background-attachment: fixed;
}