

footer{
    border: 1px solid black;
}

footer:hover{
    background-color: lightblue;
}

footer::after{
    content: 'mensagem fixa';
}

body{
    display: grid;
    grid-gap: 16px;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 100vh auto ;

}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
    overflow-y: scroll;
}

footer{
    grid-area: footer;
}

header,aside,main,footer{
    background-color: cyan;
    color: white;
    padding: 16px;
}

aside ol li a{
    color: black
}

a:hover{
    color: red;
    text-decoration: line-through;
}

a:visited{
    color: green;
}